<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centenaire bataillie</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/battle.css">
    <script src="/js/battle.js"></script>
</head>
<body>


<div class="wraper">
    <div class="header">
        <h1>Game</h1>
    </div>
    <div class="container">
    </div>
</div>
<canvas id="game__container" class="game__container"></canvas>
</body>
</html>
