<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centenaire bataillie</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div class="wraper">
    <div class="header">
        <h1>Centenaire bataillie</h1>
    </div>
    <div class="container">
        <div class="menu__auth">
            <form action="" class="login__form" id="js-login__form">
                <h2 class="form__title">Вход</h2>

                <input type="text" class="login__input" name="login" id="js-login_login" placeholder="login">
                <input type="password" class="login__input" name="password" id="js-login_password"
                       placeholder="password">

                <input type="submit" value="Вход" class="btn" id="js-login__submit">
                <input type="submit" value="Регистрация" class="btn js-swap_form-btn">
            </form>

            <form action="" class="registration__form" id="js-registration__form">
                <h2 class="form__title">Регистрация</h2>

                <input type="text" class="login__input" name="login" id="js-registration_login" placeholder="login">
                <input type="password" class="login__input" name="password" id="js-registration_password"
                       placeholder="password">

                <input type="submit" value="Зарегистрироваться" class="btn" id="js-registration__submit">
                <input type="submit" value="Уже есть аккаунт" class="btn js-swap_form-btn">
            </form>
        </div>
    </div>
</div>

<script src="js/index.js"></script>

</body>
</html>
